.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
}

.container {
  width: 50vw;
  height: 60vh;
  background-color: var(--dm-surface-2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 110px auto 60px;
}

.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: var(--dm-surface-2);
}

.form.signup {
  opacity: 0;
  pointer-events: none;
}

.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}

.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}

header {
  font-size: 28px;
  font-weight: 600;
  color: var(--dm-text);
  text-align: center;
}

.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #cacaca;
  background-color: var(--dm-surface);
  color: var(--dm-text);
}

.field input:focus {
  border-bottom-width: 2px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--dm-text-secondary);
  cursor: pointer;
  padding: 5px;
}

.field button {
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
}

.field button:hover {
  background-color: #016dcb;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: var(--dm-text);
}

.form a {
  color: #0171d3;
  text-decoration: none;
}

.form-content a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100vw;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dm-surface-2);
    overflow: hidden;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0;
  }

  .form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}
